<div class="nav-bar">
  <div class="nav-bar-contents">
    <div class="logo">
      <img src="/mean-retail-logo.png" />
    </div>
    <div class="title">
      <a href="/assessment">
        MEAN Retail
      </a>
    </div>
    <div class="user-info">
      <div class="checkout" ng-show="user.user">
        <a ng-href="#/checkout">
          <i class="fa fa-shopping-cart"></i>
        </a>
      </div>
      <div class="user" ng-show="user.user">
        <img ng-src="{{user.user.profile.picture}}" />
      </div>
      <div class="login" ng-show="!user.user">
        <a href="/auth/facebook?redirect=%2Fassessment%2F%23%2F">
          <img src="//i.stack.imgur.com/LKMP7.png">
        </a>
      </div>
    </div>
  </div>
</div>
