
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title.</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    
    <p>
        <button type="submit" class="btn btn-default">Login &raquo;</button>
    </p>
}

