@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>M101.NET Blog</h1>
    <p class="lead">Simple multi-user blog implementation for the M101.NET course.</p>
    <p><a href="http://education.mongodb.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    Not finished.
</div>